# Servidor
PORT=3000
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=residuos_urbanos

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d

# TOTP
TOTP_ENCRYPTION_KEY=

# URL del frontend (para CORS)
CLIENT_URL=http://localhost:5173

# URL del microservicio de IA (MVP 3)
AI_SERVICE_URL=http://localhost:8000